body {
	max-width:680px;
	font-family:sans-serif;
	margin:0 auto;
	background: fixed url("../images/background.png") #3e3142 ;
}

.middle {
	background-color: #fff;
	padding:20px;
}

p {
	font-size:18px;
}
.blue-background {
	display:block;
	background-color:#302932;
	padding:10px;
	color: #fff;
}
.center-image {
	margin:0 auto;
	text-align: center;
}
img {
	border:5px solid #302932;
}

h1 {
	margin-top: 20px;
	font-size:14px;
}
h3 a {
	display:block;
	background-color:#302932;
	padding:15px;
	color:#67f0d4;
	border-bottom:none;
}

h3 a:hover {
	background-color:#554559;
	text-decoration: none;
	border-bottom:none;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted;
}
a:hover {
	border-bottom: 1px dashed;
}